<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page.robots %}
      <meta name="robots" content="{{page.robots}}" />
    {% endif %}
    <title>JS Sadness - {{ page.title }}</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Fira+Code:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="teardrops" style="opacity: 0.04; transform: scale(1.0) translateX(.22px) rotate(7deg)"></div>
    <div class="teardrops" style="opacity: 0.06; transform: scale(1.319) translateX(72px) rotate(3deg)"></div>
    <div class="teardrops" style="opacity: 0.08; transform: scale(1.61337) translateX(-32px) rotate(-13deg)"></div>
    <div class="teardrops" style="opacity: 0.10; transform: scale(2.14126) translateY(40px) rotate(11deg)"></div>

    <a id="logo" href="{{ site.baseurl }}/">JS Sadness</a>
    {{ content }}
  </body>

</html>